{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <section class="first col-md">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" name="name" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">Email</span>
                        </div>
                        <input type="text" placeholder="Email" name="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                      </div>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Message</span>
                        </div>
                        <textarea class="form-control" placeholder="Message" name="message" id="id_message" aria-label="With textarea"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary btn-light m-3">Submit</button>
                    </form>
            </section>
        </div>
    </div>
<script>
    // var names = JSON.parse("{{names|escapejs}}");
</script>
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
