{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/MotionPathPlugin.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/3.0.8/ScrollMagic.min.js"></script> -->
{% endblock %}
{% block body %}
{% load mine %}
    <section id="first">
        <!-- <div class="row">
            <img class="embrace" src="{% static 'images/embrace.svg' %}" alt="" srcset="">
        </div> -->
        <div class="container">
            <div id="welcome" class="row justify-content-md-center bg-dark">
                <div class="col col-lg-5">
                    <h1 id="welcomeText" style="color: white;">Welcome!</h1>
                  </div>
            </div>
            <div class="col-lg-3 p-3 mx-auto" id="triangeSVGdiv">
                <svg width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Frame 1" clip-path="url(#clip0_1_4)">
                    <rect width="300" height="300" fill="transparent"/>
                    <g id="dark">
                    <path id="dark1" opacity="0.95" d="M121.805 268.47L50.5221 128.95L183.418 128.168L121.805 268.47Z" fill="#C4C4C4"/>
                    <path id="dark2" opacity="0.75" d="M184.642 213.078L113.359 73.5576L246.254 72.7757L184.642 213.078Z" fill="#C4C4C4"/>
                    </g>
                    <path id="vio1" opacity="0.75" d="M155.109 242.568L78.2433 106.043L210.999 99.889L155.109 242.568Z" fill="#BF65DF" fill-opacity="0.7"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_4">
                    <rect width="300" height="300" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>                    
            </div>   
        </div>
    </section>
    <section id="second">
        <div class="container" id="projectDiv">
            <div id="project" class="row justify-content-md-center bg-dark">
                <div class="col col-sm-2">
                    <h2 style="color:white">Projects</h2>
                  </div>
            </div>
            <div class="row justify-content-md-center">
                {% for i,x in name.items %}
                <div class="col">
                    <div class="card" id="cardProjects" style="margin: 2rem;">
                        <div class="card-body d-flex">
                            <a href="{{x|index:2}}">
                                <img class="mx-auto d-flex" src="{% static '/images' %}/{{x|index:0}}" alt="" srcset="">
                                <h1 style="text-decoration: none;" class="card-title">{{i}}</h1>
                            </a>
                            <p class="card-text display-6">{{x|index:1}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="aboutme">
        <div class="container" id="aboutmeContainer">
            <div class="row justify-content-md-center">
                <div class="col col-md-auto d-flex">
                    <h1 id="myName" style="color: white;">I'm Nikhil Ivannan.</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col" style="color: white;">
                    <p class="display-4">
                        I have been coding for 3 years now, and I am quite comfortable with Python. I am from Chennai, India, and I'm a Freshman entering second semester. I love to play basketball and I have a 7.0 overall bands in IELTS.
                    </p>
                </div>
                <div class="col-lg-auto">
                    <div class="card d-flex" id="skillsCard" >
                        <div class="card-body d-flex" id="imgCardBody">
                            <h1 class="card-title">Skills</h1>
                            {% for logo in logos %}
                            <img width="100" height="100" class="card-img-top mx-auto" src="{% static 'images/svg/' %}{{logo}}" alt="" srcset="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    var name = JSON.parse("{{ nameJS|json_script:'nameJS' }}");
</script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}