body{
    background-color: rgb(201, 159, 96);
}

input,textarea {
    border-radius: 1rem;
    box-shadow: inset 5px 5px calc() #bebebe,inset -5px -5px calc() #fff;
    outline: 0;
    border: 0;
    padding-inline: 7.5px
}

input[type=submit] {
    border-radius: 2rem;
    background: #e0e0e0;
    box-shadow: 5px 5px calc() #cacaca,-5px -5px calc() #f6f6f6
}

form{
    font-size: 1rem;
}

label{
    color : rgb(0, 0, 0);
}

.form-group{
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: rgb(173, 132, 211);
    padding: 8%;
    border-radius: 1rem;
}

#cont{
    color:rgb(0, 0, 0)
}

#id_message{
    overflow: auto;
    width: 9rem;
}

@media only screen and (max-width: 725px) {
    .form-group{
        left: 9%;
        top: 20%;
    }
    
}