@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

html {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color : "white";
    font-size: 95%
}
body{
    background-color: #212529;
    background-position: unset;
}

section{
    padding: 50vh 0;
}

.loading {
    display: flex;
    justify-content: center;
    position: fixed;
    left:40%;
  }
  
  .loading--full-height {
    align-items: center;
    height: 100%;
  }
  
  .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: rgb(168, 111, 221);
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 3s ease infinite;
  }
  
  @keyframes loading {
    /* Safari support */
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }

/* .loading_wrap{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_wrap::after{
    content: "";
    width: 3rem;
    height: 3rem;
}

.loading_wrap > img{
    width: 100px;
}
*/
.loading.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}


#main {
    transition: margin-left .5s;
}

#mLink{
    position: fixed;
}

.btn:hover{
    background-color: #111;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 4rem; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 3rem;
    margin-left: 5rem;
}

.footer{
    padding: 10vh 0;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1rem;}
    .sidenav a {font-size: 1rem;}
}