#welcome{
    border-radius: 2rem;
    overflow: hidden;
}
#first{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    overflow: hidden;
    position: relative;
}
#second{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.carousel-caption{
    backdrop-filter: blur(0.1rem);
}

#carimg{
    object-fit: scale-down;
}

.svg-circle circle{
    fill : rgb(235, 192, 112);
}
@media screen and (max-height: 815px) {
    #carimg{
        width: 80%;
    }
}