body {
    overflow-x: hidden
}
a, a:hover{
    text-decoration: none;
    color: black;
}
#welcome{
    border-radius: 2rem;
    overflow-x: hidden;
    transition: .5s; 
    width: 75%;
}
#first{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    overflow: hidden;
    position: relative;
}
#second{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#aboutme{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.shape{
    background-color: #a18cd1;
    position: relative;
}
.shape::after,
.shape::before{
    position: absolute;
    content:'';
    width: 10rem;
    height: 10rem;
    background: #a18cd1;
    top:-32.5rem;
}
.shape::before{
    right: 50%;
    transform: skew(0, 20deg);
}
.shape::after{
    left: 50%;
    transform: skew(0, -20deg);
}
/* #projectCardBody{
    display: flex;
    margin: 10%;
    padding: 5%;
    flex-direction: row;
    gap: 1rem;
} */
/* #projectCardText{
    size: 25rem; 
} */
#cardBodyProjects{
    margin: 5vw 0;
}
#cardProjects{
    display: flex;
    margin: 10%;
    padding: 5vh;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    transition: box-shadow .5s;
}
.embrace{
    width: 100px;
    height: 100px;
}
#projectCardText{
    margin: 0 5vw;
}
#cardProjects:hover {
    box-shadow: 0 0 1.5rem rgba(33,33,33,.8); 
  }
#cardBodyProjects .card-text{
    text-align: center;
}
#imgCardBody{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: stretch;
    transition: .5s;
}
#cardBodyProjects img{
    max-width: 25vw;
    flex-direction: column;
    justify-content: stretch;
    padding: 0 1vw;
    transition: .5s;
}
.card {
    background-color: #d4d4d440;
    border-radius: 2vw;
    backdrop-filter: blur(5px);
    margin-top: 1rem;
    transition: .5s;
    text-align: center;
}
#skillsCard{
    padding: 0 1.75vw;
}

#projectDiv .col{
    transition: 0.75s;
}

:root {
    --dark-color: #635bff;
    --light-color: #80e9ff;
  }

#dark{
    fill : var(--dark-color)
}
#vio1{
    fill : var(--light-color)
}

#dark1,
#vio1,
#dark2 {
    transition: all 1s ease;
}
#dark2 {
    transform: translateX(-100%);
}
svg:hover #vio1 {
    transform: translateX(20%);
}
svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}
svg:hover #dark2 {
    transform: translateX(0%);
}

@media screen and (max-width: 400px) {
    #welcome{
        width: 100%;
    }
    #cardBodyProject img{

        min-width: 200px;
        /* max-width: 225px; */
        max-height: fit-content;
    }
    .shape::after,
    .shape::before{
        top:-37.5rem;
    }
    #cardBodyProjects .card-text{
        text-align: left;
    }
    #cardBodyProjects .card-title{
        font-size: small;
    }
}