body {
    overflow-x: hidden
}
#welcome{
    border-radius: 2rem;
    overflow: hidden;
}
#first{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    overflow: hidden;
    position: relative;
}
#second{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#aboutme{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.card-body {
    display: flex;
    gap : 1rem;
    flex-direction: column;
}
.card-body img{
    max-width: 375px;
}
.card {
    background-color: #d4d4d440;
    border-radius: 2vw;
    backdrop-filter: blur(5px);
    transition: .5s;
    text-align: center;
}

:root {
    --dark-color: #635bff;
    --light-color: #80e9ff;
  }

#dark{
    fill : var(--dark-color)
}
#vio1{
    fill : var(--light-color)
}

#dark1,
#vio1,
#dark2 {
    transition: all 1s ease;
}
#dark2 {
    transform: translateX(-100%);
}
svg:hover #vio1 {
    transform: translateX(20%);
}
svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}
svg:hover #dark2 {
    transform: translateX(0%);
}

@media screen and (max-height: 815px) {
    #carimg{
        width: 80%;
    }
    .card-body img{

        min-width: 200px;
        max-width: 225px;
    }
}