#welcome{
    border-radius: 2rem;
    overflow: hidden;
}
#first{
    background-color: rgb(168, 111, 221);
}
#second{
    background-color: rgb(235, 192, 112);
}

.carousel-caption{
    backdrop-filter: blur(0.1rem);
}

#carimg{
    object-fit: scale-down;
}

.svg-circle circle{
    fill : rgb(235, 192, 112);
}

@media screen and (max-height: 815px) {
    #carimg{
        width: 80%;
    }
}